section[data-testid='stSidebar'] > div:nth-of-type(1) {
    background-color: #29053a !important;
}

.css-81oif8 {
    font-size: 14px;
    color: rgb(255 255 255) !important;
    display: flex;
    visibility: visible;
    margin-bottom: 0.5rem;
    height: auto;
    min-height: 1.5rem;
    vertical-align: middle;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
}

.st-bs {
    color: rgb(173 0 229) ;
}

button[kind="header"] {
    background-color: transparent;
    color:rgb(180, 167, 141)
}

video.stVideo {
    width: 300px  !important;
    height: 300px !important;
    background-color: black !important;
}

.css-hxt7ib {
    padding-top: 1rem !important;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}

.css-163ttbj e1fqkh3o11 {
    position: relative;
    user-select: auto;
    width: 307px !important;
    height: 100%;
    box-sizing: border-box;
    flex-shrink: 0;
}

.css-183lzff {
    white-space: pre-line;
}

.css-163ttbj {
    top: 0px !important;
}

#root > div:nth-child(1) > div > div > div > div > section > div {
    padding-top: 0rem !important;
}

.css-1vq4p4l {
    padding: 3rem 1rem 1.5rem  !important;
}

.css-1vencpc {
    position: relative;
    top: 2px;
    background-color: transparent !important;
    z-index: 999991;
    min-width: 244px;
    max-width: 550px;
    transform: none;
    transition: transform 300ms ease 0s, min-width 300ms ease 0s, max-width 300ms ease 0s;
}

audio#audio {
    width: 300px !important;
}

.css-163ttbj {
    position: relative;
    top: 2px;
    background-color: transparent !important;
    z-index: 999991;
    min-width: 244px;
    max-width: 550px;
    transform: none;
    transition: transform 300ms ease 0s, min-width 300ms ease 0s, max-width 300ms ease 0s;
}

.css-e370rw {
  /* 放大图片 */
    position: relative !important;
    display: inline-block !important;
    z-index: 101;
    height: 2.5rem;
    width: 2.5rem;
    transition: opacity 300ms ease 150ms, transform 300ms ease 150ms;
    border: none;
    color: rgba(49, 51, 63, 0.6);
    border-radius: 50%;
    right: -18rem !important;
    top: 1rem !important;
    opacity: 0;
    transform: scale(0);
    background-color: transparent !important;
}

.css-6awftf {
    /* 关闭放大图片 */
    position: absolute;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    z-index: 101;
    height: 0.5rem !important;
    width: 55.5rem !important;
    width: -17.5rem !important;
    on: opacity 300ms ease 150ms, transform 300ms ease 150ms;
    border: none;
    color: rgba(49, 51, 63, 0.6);
    border-radius: 50%;
    right: -3rem;
    top: -0.375rem;
    opacity: 0;
    background-color: rgb(255 255 255 / 0%) !important;
    backgrou: ;
    /* background-color: rgb(255 255 255); */
}

.css-swapoz {
    font-family: "Source Sans Pro", sans-serif;
    margin-bottom: -1rem;
    color: rgb(173 0 229);
    font-size: 14px;
}

.css-b5hcvb {
    position: absolute;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    z-index: 101;
    height: 9.5rem;
    width: 231.5rem;
    width: -78.5rem;
    n: opacity 300ms ease 150ms, transform 300ms ease 150ms;
    border: none;
    color: rgba(49, 51, 63, 0.6);
    border-radius: 50%;
    right: 0.4rem;
    top: 0.5rem;
    background-color: transparent;
}


#root > div:nth-child(1) > div > div > div > div > section > div {padding-top: 2.5rem;}


.css-ab6luk {
    position: revert !important;
    display: inline-flex !important;
    z-index: auto;
    height: 2.5rem;
    width: 2.5rem;
    transition: opacity 300ms ease 150ms, transform 300ms ease 150ms;
    border: none;
    color: rgb(145 145 145 / 72%);
    border-radius: 50%;
    right: -54% !important;
    top: -42% !important;
    background-color: transparent !important;
}

@media(hover){
    /* header element to be removed */
    header[data-testid="stHeader"] {
        display:none;
    }

}
 
